body {
    background-image: url(Assets/background_register.jpg);
    background-position: top left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;  
}

h1{
    text-align:left;
}

h2{
    text-align: left;
}

#contenedor {
    background-color: #d691b3; 
    border-radius: 5px; 
    max-width: 600px; 
    padding: 20px; 
    text-align: left; 
    margin: 0 auto; 
}

.seccion {
    margin-bottom: 20px;
}

.completo {
    margin-right: 10px; 
    display: inline-block; 
    vertical-align: top; 
}
.container_section > span:nth-child(3) {
    display: block;
    margin-top: 10px;
}

#direccion_container .completo {
    margin-bottom: 10px;
}
#div_button {
    margin-top: 20px;
    text-align: left;
}

button{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 25%;
}
    